.page__header {
    background-color: var(--primary-color);
    display         : flex;
    flex-wrap       : nowrap;
    height          : 50px;
}

.page__header>.header__logo {
    margin: 0 2rem 0 2rem;
}

.page__header>.header__translations {
    margin-left    : auto;
    width          : 6.25rem;
    height         : inherit;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : nowrap;
}

.page__header>.header__menu {
    margin-left    : auto;
    width          : 6.25rem;
    height         : inherit;
    display        : none;
    align-items    : center;
    justify-content: center;
    flex-wrap      : nowrap;
}

.header__menu>.menu__toggle {
    height      : 30px;
    aspect-ratio: 1 / 1;
    padding     : 0 .225rem;
    transition  : height .1s;
}

.header__menu>.menu__toggle:hover {
    height: 35px;
    cursor: pointer;
}

.header__translations>.translations__flags {
    height      : 30px;
    aspect-ratio: 1 / 1;
    margin      : 0 .225rem 0 .225rem;
    transition  : height .1s;
}

.header__translations>.translations__flags:hover {
    height: 35px;
    cursor: pointer;
}

.container {
    padding-right   : 15px;
    padding-left    : 15px;
    margin-right    : auto;
    margin-left     : auto;
    background-color: white;
}

.page__title {
    padding      : 25px;
    border-bottom: 1px solid var(--background-color);
}

.flex__container__row {
    display       : flex;
    flex-direction: row;
    flex-basis    : 100%;
    flex-wrap     : nowrap;
    padding       : 25px;
    gap           : 15px;
}

.flex__container__row>.about__image__container {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.flex__container__row>.about__text {
    width: 60%;
}

.about__image {
    width     : 65%;
    transition: width 1s, transform .3s;
}

.about__image:hover {
    cursor   : pointer;
    width    : 70%;
    transform: rotate(45deg);
}

.about__title {
    color: #5478ED;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 640px) {
    .translations__flags {
        display: none;
    }

    .header__menu {
        display: flex !important;
    }
}